<ion-header no-border> </ion-header>

<ion-content>
  <div id="notfound" *ngIf="isOnline">
    <div class="notfound">
      <div class="notfound-404">
        <h1>Oops!</h1>
        <h2>Internal Server Error</h2>
      </div>
      <a href="#" (click)="refresh()">Go TO Homepage</a>
    </div>
  </div>

  <div id="notfound" *ngIf="!isOnline">
    <div class="notfound">
      <div class="notfound-404">
        <ion-icon name="planet" color="primary" *ngIf="!isOnline"></ion-icon>
        <h2>Check Your Internet Connection</h2>
      </div>
      <a href="#" (click)="refresh()">Try Again</a>
    </div>
  </div>
</ion-content>
