<ion-toolbar *ngIf="showSearchBar === false">
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/" ></ion-back-button>
    <ion-title class="heading-one">{{ name  | uppercase }}</ion-title>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button (click)="toggleSearchBar()">
      <ion-icon name="search" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-toolbar [ngClass]="showSearchBar === true?'':'hidden'">
  <ion-searchbar
    showCancelButton="always"
    debounce="500"
    (ionCancel)="toggleSearchBar()"
    (ionChange)="searchProducts($event)"
  ></ion-searchbar>
</ion-toolbar>

<ion-content class="container " 
  [style.display]="(showSearchPane === true && showSearchBar === true) ? 'block' : 'none'">

  <app-loading [type]="'product'" *ngIf="showLoading"></app-loading>

  <ion-list *ngIf="stockCurrents.length > 0 && !showLoading">
    <app-product-card
      *ngFor="let stockCurrent of stockCurrents"
      [store]="store"
      [stockCurrent]="stockCurrent"
    ></app-product-card>
  </ion-list>
  <div *ngIf="stockCurrents.length === 0 && searchTerm !== '' && !showLoading" class="vertical-align-center">
    <p>No Results Found(0)</p>
  </div>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData()">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
