.container {
    width: 100vw;height:100vh;position:fixed;
    background:white;
    opacity: 1;
}

ion-buttons , ion-title {

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}