<ion-header *ngIf="showFilters">
  <ion-toolbar>
    <ion-buttons>
      <ion-title>Sort and Filter</ion-title>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="showClose">
      <ion-button (click)="closeEvent()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="showFilters">
  <ion-grid class="ion-no-padding full-height">
    <ion-row>
      <ion-col size="5" class="ion-no-padding borderright">
        <ion-grid class="ion-no-padding">
          <ion-row>
              <ion-col size="12" class="ion-no-padding ">
                  <ion-item lines="full" (click)="setFilterCategoryType('sort')" 
                  [ngClass]="{'highlight':filterCategory==='sort'}">
                    Sort
                  </ion-item>
                </ion-col>
                <ion-col size="12" class="ion-no-padding">
                  <ion-item lines="full" (click)="setFilterCategoryType('cusine')"
                  [ngClass]="{'highlight':filterCategory==='cusine'}">
                    Cusines
                  </ion-item>    
                </ion-col>          
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col size="7" class="ion-no-padding overflowScroll">
        <ion-grid class="ion-no-padding" *ngIf="filterModel">
          <ion-row>
              <ion-col size="12" class="ion-no-padding" *ngIf="filterCategory==='sort'">
                  <ion-radio-group [(ngModel)]="filterModel.currentFilterType">
                    <ion-item lines="none" >
                      <ion-radio value="{{TEMP_FILTER_TYPES.TOP_RATED}}" [checked]="filterModel.currentFilterType === TEMP_FILTER_TYPES.TOP_RATED"></ion-radio>
                      <ion-label class="ion-margin">Rating</ion-label>
                    </ion-item>
                    <ion-item lines="none" >
                      <ion-radio [checked]="filterModel.currentFilterType === TEMP_FILTER_TYPES.MIN_AMOUNT" value="{{TEMP_FILTER_TYPES.MIN_AMOUNT}}"></ion-radio>
                      <ion-label class="ion-margin">Min Amount</ion-label>
                    </ion-item>
                  </ion-radio-group>
                </ion-col>  
                <ion-col size="12" class="ion-no-padding" *ngIf="filterCategory==='cusine'">
                  <ion-list>
                    <ion-item lines="full" *ngFor="let t of cusines">
                    <ion-checkbox color="dark" value="t.key" [(ngModel)]="t.checked" [checked]="t.checked" slot="start"></ion-checkbox>
                    <ion-label>{{t.key}}({{t.docCount}})</ion-label>
                  </ion-item>
                  </ion-list>
                </ion-col>      
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer *ngIf="showFilters">
  <ion-button  (click)="applyFilter()" color="success" class="ion-margin" expand="block">Apply</ion-button>
  <ion-button (click)="resetFilter()" class="ion-margin" expand="block">CLEAR ALL</ion-button>
</ion-footer>