ion-list-header {
    font-size: 20px;
    color: #595d6b;
    font-weight: bold;
    font-family: monospace;
}

.highlight {
    --background:var(--ion-color-primary);
    color:white;
}

ion-content {
    height: 55vh;
}

.overflowScroll {
    height: 90% !important;
    overflow: scroll;
    padding-bottom:10%;
}

.full-height , .full-height ion-row {
    height: 100%;
}

.full-height ion-row ion-col:first-child
{
    background: #e6dcdc45;
    border-right: 1px solid grey;
}



.icon-grid {
    border-bottom: 1px solid #f3e4e4;
    border-top: 1px solid #f3e4e4;
}

ion-col ion-text {
    font-size: 75%;
}
.el-bl {
    display: block;
}

.sortFilters {
    width: 100%;
    border: 1px solid #e6dcdc;
    margin: auto;
    margin-top: 10px;
}

ion-list {
    width: 100%;
}

.selected {
    color: blue;
}


@media (min-width: 1280px) and (max-width: 2280px) {
 ion-footer {
     position: fixed;
     bottom: 0px;
     width: 25%;
 }
 ion-content {
     height: 85%;
 }
}