.cart {
    font-size: 75vw;
    opacity: 0.5;
}

ion-footer {
    z-index: 1000;
    width: 100%;
    bottom: 0px;
    padding: 1px;
    height: 80px;
    background: white;
    position: fixed;
}

.textCenter {
    justify-content: center;
}

.gridD {
    padding: 10px !important;
    font-size: 22px !important;
    border-bottom: 1px solid #3a7df9 !important;
    color: var(--ion-color-primary) !important;
}


.round-button {
    border-radius: 41px;
    overflow: hidden;
}

@media only screen and (min-width: 640px) {
    .cart {
        font-size: 23vw;
        opacity: 0.5;
    }
}


.overlay-cart-icon {
    font-size: 25px;
}

.h35 {
    height: 40vh;
}

.cl-red {
    color: orangered;
}

.bg-grey {
    background: #d3d3d378;
    --background: #d3d3d378;
}

.fntbig-cursive {
    font-size: 30px;

}

.info-icon {
    font-size: 30px;
    margin: 0px;
    margin-right: 10px;
}

.fntbig {
    font-size: 37px;
    margin: 10px;
}

.grey {
    color: grey;
}

textarea {
    width: 95%;
    height: 100px;
}

.highlight {
    font-size: 16px;
    font-weight: bold;
}