<ion-item class="bg-grey"
*ngIf="store !== undefined && store !== null && viewType === 'full'"
lines="full"
>
<ion-label>
  {{store.name}}
</ion-label></ion-item>
<ion-grid no-padding margin *ngIf="viewType === 'minimal'">
  <ion-row>
    <ion-col size="4" text-center no-padding>
      <ion-label class="highlight">{{ cartSize + " Items" }}</ion-label>
    </ion-col>
    <ion-col size="4" text-center no-padding>
      <ion-label class="highlight">{{
        "Total: " + "&#8364; " + ( subTotal | number: "1.1-2")
      }}</ion-label>
    </ion-col>
    <ion-col size="4" text-center no-padding class="pointer">
      <ion-label  class="cursor highlight" (click)="routeBasket()">View Cart</ion-label>
    </ion-col>
  </ion-row>
</ion-grid>

<div *ngIf="viewType === 'full'">
  <!--No Orders Start-->
  <ion-grid *ngIf="orderLines.length === 0" class="bg-grey">
    <ion-row justify-content-center class="ion-margin-top ">
      <ion-col size="12" text-center>
        <ion-label class="fntbig-cursive">
          Order total
        </ion-label>
        <ion-text class="fntbig-cursive" >(0 items)</ion-text>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size="12" text-center>
        <p class="fntbig grey">&#8364;0</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="orderLines.length === 0">
    <ion-row>
      <ion-col justify-content-center>
        <ion-card class="vertical-align-center h35">
          <ion-card-content text-center>
            <ion-icon class="cart" name="cart"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--No Orders End-->

  <!--Orders List Start-->
  <ion-grid class="bg-grey" *ngIf="orderLines.length > 0">
    <ion-row justify-content-center class="ion-margin-top">
      <ion-col size="12" text-center>
        <ion-label class="fntbig-cursive">
          Order total
        </ion-label>
        <ion-text class="fntbig-cursive">{{ "(" + orderLines.length + " items)" }}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center>
      <ion-col size="12" text-center>
        <p class="fntbig">&#8364;{{ subTotal | number: "1.1-2" }}</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="subTotal < store.minAmount">
      <ion-col size="12" text-center>
        <ion-text class="cl-red" text-center *ngIf="currentSegment === 'delivery'" 
          >Spend {{ neededCheckOutAmount  | number: "1.1-2" }} More for delivery</ion-text
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
      
      <div *ngIf="!deliveryOk && !collectionOk && orderLines.length > 0"
        class="vertical-align-center"
      >
        <ion-label text-center>
            Unable to Order From This Restaurant , Does'nt Provide a Delivery Mode
        </ion-label>
      </div>
      </ion-col>
      <ion-col size="12">
        <ion-item (click)="presentAllergyModal()" lines="full">
          <ion-icon 
            color="primary"
            class="info-icon"
            name="alert"
            slot="start"
          ></ion-icon>
          <ion-text color="primary" class="underline">
            <p>
              If you or someone you're ordering for has a food allergy or
              intolerance , click here
            </p>
          </ion-text>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--Orders List End-->

  <ion-segment
    (ionChange)="segmenChanged($event)"
    *ngIf="orderLines.length !== 0"
  >
  <ion-segment-button *ngIf="deliveryOk" value="delivery" [checked]="deliveryOk && defaultDelivery">Delivery</ion-segment-button>
    <ion-segment-button *ngIf="collectionOk" value="collection" [checked]="collectionOk && !defaultDelivery">Collection</ion-segment-button>
  </ion-segment>

  <div>
    <app-delivery-item-details [currentDeliveryMode]="deliveryMode" *ngIf="!guest && deliveryMode" class="vertical-align-center"></app-delivery-item-details>
  </div>

</div>

<ion-footer *ngIf="viewType === 'full'
&& orderLines.length > 0">
<ion-button
class="ion-margin round-button" *ngIf="currentSegment==='delivery'"
[disabled]="neededCheckOutAmount !== 0"
color="primary" expand="full" (click)="continue('delivery')"
>Continue</ion-button
>
<ion-button *ngIf="currentSegment==='collection'"
color="primary" expand="full" (click)="continue('collection')"
class="ion-margin round-button"
>Continue</ion-button
>
</ion-footer>
