ion-icon[name='basket'] {
    font-size: 13px;
    margin-left: 2px;
}

.h35 {
    height: 40vh;
}

.h35 ion-icon {
    font-size: 70vw;
}

.bg-grey {
    background: lightgray;
}

.fntbig-cursive {
    font-size: 30px;
    font-family: cursive;

}

.fntbig {
    font-size: 37px;
    margin: 10px;
}

.grey {
    color: grey;
}

textarea {
    width: 95%;
    height: 100px;
}

.highlight {
    font-size: 16px;
    font-weight: bold;
}