<app-order-detail *ngIf="selectedOrder" [order]="selectedOrder" [store]="stores[selectedOrder.storeId]"
  (backEvent)="showList()" (reorderEvent)="navigateToBasket()"></app-order-detail>

<ion-header *ngIf="viewType === 'modal' && !selectedOrder">
  <ion-toolbar>
    <ion-buttons>
      <ion-title>
        Order History
      </ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="!selectedOrder" appScrollbarTheme>
  <div class="vertical-align-center h30" *ngIf="orders.length === 0 && showHistoryLoading === false">
    <ion-text text-center>
      <p>No Orders</p>
    </ion-text>
  </div>

  <app-loading *ngIf="showHistoryLoading === true" [type]="'history'"></app-loading>

  <ion-list *ngIf="
          orders.length > 0 && stores !== undefined && showHistoryLoading === false
        ">
    <ng-container *ngFor="let order of orders">
      <ion-item [lines]="lineFlag" class="order" *ngIf="
              order.status.name === 'payment-processed-unapproved' ||
              order.status?.name === 'delivered' ||
              order.status.name === 'payment-processed-approved'" 
              margin (click)="showOrderDetails(order)">
        <ion-thumbnail mode="ios" class="image" slot="start" *ngIf="
                !stores[order.storeId] ||
                stores[order.storeId].imageLink !== ' '
          ">
          <ion-img [src]="stores[order.storeId].imageLink"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2 class="textoverflow" *ngIf="stores[order.storeId] !== null">
            {{ stores[order.storeId].name }}
          </h2>
          <ion-text color="warning" *ngIf="order.status.name === 'payment-processed-unapproved' && !order.cancellationRef">
            Order Placed
          </ion-text>
          <ion-text color="primary" *ngIf="order.status.name === 'payment-processed-approved'  && !order.cancellationRef">
            Order Approved
          </ion-text>
          <ion-text color="success" *ngIf="order.status.name === 'delivered'  && !order.cancellationRef">
            Delivered
          </ion-text>
          <ion-text color="warning" *ngIf="order.cancellationRef">
            Cancellation Requested
          </ion-text>
          <!-- <ion-text color="success" *ngIf="order.status.name === 'refund-completed'">
            Refund Completed
          </ion-text> -->
          <p>{{ order.date | date: "medium" }}</p>
          <p>&#8364;{{ order.grandTotal | number: "1.2-2" }}</p>
        </ion-label>
        <ion-badge mode="ios" slot="end">{{ order.orderId }}</ion-badge>
      </ion-item>
    </ng-container>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMoreData($event)" threshold="20px">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
</ion-content>