ion-list {
  width: 100%;
}

.textoverflow {
  overflow: hidden;
  text-overflow: ellipsis;

}

app-order-detail {
  height: 100%;
}

ion-scroll {
  overflow-y: scroll;
}

.fnt-big {
  font-size: 20px;
}

.fnt-medium {
  font-size: 17px;
}

.icon-big {
  font-size: 60px;
}

.order {
  margin: 0 !important;
}

.image {
  width: 80px;
  height: 80px;
  border-radius: 10px !important;
  overflow: hidden;
}

.custom-span {
  color: green;
}