<ion-header *ngIf="viewType==='modal'">
  <ion-toolbar>
    <ion-buttons>
      <ion-title>
        Order History
      </ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="vertical-align-center h30" *ngIf="orders.length === 0 && showHistoryLoading === false">
    <ion-text text-center>
      <p>No Orders</p>
    </ion-text>
  </div>

  <app-loading *ngIf="showHistoryLoading === true" [type]="'history'"></app-loading>

  <ion-list *ngIf="orders.length > 0 && stores !== undefined && showHistoryLoading === false">
    <div *ngFor="let order of orders">
        <ion-item [lines]="lineFlag" class="order" *ngIf="order.status?.name === 'payment-processed' || order.status?.name === 'delivered'"   margin (click)="showOrderDetails(order)">
            <ion-thumbnail mode="ios" class="image" slot="start" *ngIf="stores[order.storeId] !== null && stores[order.storeId].imageContentType !== undefined">
              <ion-img [src]="
                  stores[order.storeId].imageLink
                "></ion-img>
            </ion-thumbnail>
            <ion-icon slot="start" name="image" class="icon-big" *ngIf="stores[order.storeId] === null || stores[order.storeId].imageContentType === undefined"></ion-icon>
            <ion-label *ngIf="order.status">
              <h2 *ngIf="stores[order.storeId] !== null">
                {{ stores[order.storeId].name }}
              </h2>
              <p>
                <span class="custom-span" *ngIf="order.status.name ==='created'
                || order.status.name ==='approved' || order.status.name ==='unapproved'
                || order.status.name ==='payment-processed'"><b>
                  Order Placed
                </b></span>
                <span class="custom-span" *ngIf="order.status.name ==='delivered'"><b>
                  Delivered
                </b></span>
              </p>
              <p>{{ order.date | date: "medium" }}</p>
              <p>&#8364;{{ order.grandTotal | number: "1.2-2" }}</p>
            </ion-label>
            <ion-badge mode="ios" slot="end">{{ order.orderId }}</ion-badge>
          </ion-item>
    </div>
    
  </ion-list>

  <ion-infinite-scroll threshold="500px" (ionInfinite)="loadMoreData($event)" loadingSpinner="bubbles"
    loadingText="Loading Users...">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
</ion-content>