<ion-header *ngIf="viewType==='modal'">
  <ion-toolbar>
    <ion-buttons>
      <ion-title>
        Order History
      </ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="vertical-align-center h30" *ngIf="orders.length === 0 && showHistoryLoading === false">
    <ion-text text-center>
      <p>No Orders</p>
    </ion-text>
  </div>

  <app-loading *ngIf="showHistoryLoading === true" [type]="'history'"></app-loading>

  <ion-list *ngIf="orders.length > 0 && stores !== undefined && showHistoryLoading === false">
    <ion-item [lines]="lineFlag" class="order" *ngFor="let order of orders" margin (click)="showOrderDetails(order)">
      <ion-thumbnail class="image" slot="start" *ngIf="stores[order.storeId] != null">
        <ion-img [src]="
            'data:' +
            stores[order.storeId].imageContentType +
            ';base64,' +
            stores[order.storeId].image
          "></ion-img>
      </ion-thumbnail>
      <ion-icon slot="start" name="image" class="icon-big" *ngIf="stores[order.storeId] == null"></ion-icon>
      <ion-label *ngIf="order.status">
        <h2 *ngIf="stores[order.storeId] !== null">
          {{ stores[order.storeId].name }}
        </h2>
        <p>
          <span class="custom-span" *ngIf="order.status.name ==='created'">Ordered</span>
          <span class="custom-span" *ngIf="order.status.name ==='approved'">Approved</span>
          <span class="custom-span" *ngIf="order.status.name ==='unapproved'">Unapproved</span>
          <span class="custom-span" *ngIf="order.status.name ==='payment-processed'">Payment Processed</span>
          <span class="custom-span" *ngIf="order.status.name ==='delivered'">Delivered</span>
        </p>
        <p>{{ order.date | date: "medium" }}</p>
        <p>&#8364;{{ order.grandTotal | number: "1.1-2" }}</p>
      </ion-label>
      <ion-badge slot="end">{{ order.orderId }}</ion-badge>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="500px" (ionInfinite)="loadMoreData($event)" loadingSpinner="bubbles"
    loadingText="Loading Users...">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
</ion-content>