ion-list {
    width: 100%;
}

ion-scroll {
    overflow-y: scroll;
}

.fnt-big {
    font-size: 20px;
}

.fnt-medium {
    font-size: 17px;
}

.icon-big {
    font-size: 60px;
}

.order {
    margin: 0 !important;
}

.image {
    width: 116px;
    height: 116px;
    border-radius: 10px !important;
    overflow: hidden
}