<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title text-center><strong>Confirmation</strong></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-row>
  <ion-col>
    <ion-item lines="none">
      <ion-label>Hi, Please wait few minutes to<br> get approval from restaurant <br> we'll notify you</ion-label>
    </ion-item>
  </ion-col>
  </ion-row>
    <ion-button expand="full" (click)="navigateToHome()" margin>Ok</ion-button>
  </ion-content>