<ion-header no-border>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="/restaurant"></ion-back-button>
      <ion-title>Basket</ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="clearCart()">
        clear
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-grid class="ion-no-padding">
   <ion-row>
     <ion-col size="12" class="ion-no-padding">
      <app-cart
      *ngIf="store !== undefined"
      [store]="store"
      [viewType]="'full'"
    ></app-cart>
     </ion-col>
   </ion-row>
 </ion-grid>
</ion-content>
