ion-badge {
    position: absolute;
    left: 55px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}
ion-icon[name='basket'] {
    width: 25px;
height: 25px;
}