ion-badge {
    display: inline-grid;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    left: -10px;
}
ion-icon[name='basket'] {
    width: 25px;
    height: 25px;
}

span {
    vertical-align: top;
text-align: center;
display: flex;
}