ion-badge {
    position: absolute;
    left: 65px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}