<ion-toolbar>
  <ion-buttons slot="start" *ngIf="!showSearchBar">
    <ion-menu-button></ion-menu-button>
    <ion-img src="/assets/icon/favicon.png"></ion-img>
  </ion-buttons>

  <!--SearchBar Toggle Button-->
  <ion-buttons
    slot="end"
  >
    <ion-button (click)="toggleSearchBar()"  *ngIf="showSearchBar === false">
      <ion-icon name="search" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button (click)="showNotification()"   *ngIf="showSearchBar === false && notificationsOn === true"    >
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-badge color="success">{{notificationCount}}</ion-badge>
  </ion-button>

  </ion-buttons>

  <!--SearchBar Restaurant-->
  <ion-buttons [ngClass]="(showSearchBar === true)?'':'hidden'">
    <ion-searchbar #restaurantSearch showCancelButton debounce="1500" placeholder="Search"
      (ionCancel)="toggleSearchBar()" (ionChange)="search($event)"></ion-searchbar>
  </ion-buttons>
  <!--SearchBar Restaurant-->

</ion-toolbar>

<ion-content
  class="container"
  [style.display]="(showSearchPane === true && showSearchBar === true) ? 'block' : 'none'"
>
  <app-loading [type]="'restaurant'" *ngIf="showLoading"></app-loading>

  <ion-grid *ngIf="!showLoading">
    <ion-row *ngIf="storeSearchResults.length > 0">
      <ion-item color="light" class="full-width">
        <ion-label slot="start">{{storeSearchResults.length + ' Matches'}}</ion-label>
      </ion-item>
      <app-restaurant-card *ngFor="let store of storeSearchResults" [store]="store"></app-restaurant-card>
    </ion-row>
    <ion-row *ngIf="storeSearchResults.length === 0" class="vertical-align-center">
      <ion-col text-center>
        <p>No Results Found(0)</p>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>