ion-label {
    margin: 0px 5px;
}

.container {
    height:100vh;position:fixed;
    background:white;
    opacity: 1;
}

app-restaurant-card {
    width: 100%;
}

ion-badge {
    display: inline-grid;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    left: -10px;
}
ion-icon[name='notifications-outline'] {
    width: 25px;
    height: 25px;
}
