ion-label {
    margin: 0px 5px;
}
h1,p {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    padding: 2px 0px;
}

.logo {
    width: 100px;
}

ion-spinner {
    margin: auto;
    width: 100%;
    margin-top: 25vh;
}

.container {
    position:fixed;
    background:white;
    opacity: 1;
    height: calc(100% - 55px);
}

.resultGrid {
//     padding-bottom: 120px;
 }

.avatar {
    margin: 9px;
    border-radius: 50%;
    overflow: hidden;
    width: 45px;
    height: 45px;
}

app-restaurant-card {
    width: 100%;
}

ion-badge {
    display: inline-grid;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    left: -10px;
}
ion-icon[name='notifications-outline'],ion-icon[name='contact'] {
    width: 25px;
    height: 25px;
}

@media (min-width: 1280px) and (max-width: 2280px) {
    //CSS

    .restaurantCol {
      transform: scale(0.98);
    }

    .restaurantCol:hover {
      transform: scale(1.04);
      cursor: pointer;
      background: white;
    }
  }
