<ion-toolbar>
  <ion-buttons slot="start" *ngIf="!showSearchBar" class="mobile-only">
    <ion-menu-button></ion-menu-button>
    <ion-img class="padding-left-desktop" src="/assets/icon/favicon.png"></ion-img>
  </ion-buttons>
  <ion-buttons slot="start" class="desktop-only">
    <ion-img class="logo padding-left-desktop" src="/assets/icon/favicon.png"></ion-img>
  </ion-buttons>
  

  <!--SearchBar Toggle Button-->
  <ion-buttons slot="end">
    <ion-button (click)="toggleSearchBar()"  *ngIf="showSearchBar === false">
      <ion-icon name="search" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button (click)="showNotification()"   *ngIf="showSearchBar === false && notificationsOn === true"    >
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-badge color="success">{{notificationCount}}</ion-badge>
  </ion-button>
  </ion-buttons>
  <!--SearchBar Toggle Button-->

  <!--SearchBar Restaurant-->
  <ion-buttons [ngClass]="(showSearchBar === true)?'':'hidden'">
    <ion-searchbar #restaurantSearch showCancelButton="always" debounce="1500"
      placeholder="Search Restaurants"
      [(ngModel)]="searchTerm"
      (ionCancel)="toggleSearchBar()" (ionChange)="search($event)"
      (search)="search($event)"
      class="header-search"
      ></ion-searchbar>
  </ion-buttons>
  <!--SearchBar Restaurant-->

</ion-toolbar>

<ion-content class="container header-search header-content"
  [style.display]="(showSearchPane === true && showSearchBar === true) ? 'block' : 'none'">
  <ion-spinner color="primary" name="dots" *ngIf="showLoading"></ion-spinner>
  <ion-list *ngIf="recents.length > 0 && searchTerm==='' && !showLoading">
    <ion-list-header>
      Recent Searches
    </ion-list-header>
    <div *ngFor="let st of recents">
        <ion-item *ngIf="st !== ''" lines="full" (click)="selectSerachTerm(st.data)">
            <ion-label>
              {{st.data}}
            </ion-label>
          </ion-item>      
    </div>
  </ion-list>
  <ion-grid *ngIf="!showLoading">
    <ion-row *ngIf="storeSearchResults.length > 0">
      <ion-item color="light" class="full-width">
        <ion-label slot="start">{{storeSearchResults.length + ' Restaurant Found'}}</ion-label>
      </ion-item>
      <ion-col class="restaurantCol" size="12">
        <app-restaurant-card *ngFor="let store of storeSearchResults" [store]="store"></app-restaurant-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="storeSearchResults.length === 0 && searchTerm !== ''" class="vertical-align-center">
      <ion-col text-center size="12">
        <ion-text class="medium-text">
          <p>No Results Found(0)</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>