<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-title>
        <ion-label>Notifications</ion-label>
      </ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
          <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-spinner color="primary" name="circles" *ngIf="showLoading"></ion-spinner>
  <ion-list class="ion-text-center margin-20">
      <ion-text *ngIf="!showLoading && notifications.length === 0">No Notifications</ion-text>
    <app-notification-card
    *ngFor="let notification of notifications"
    [notification]="notification"
    ></app-notification-card>
  </ion-list>
  <ion-infinite-scroll
  threshold="500px"
  (ionInfinite)="loadMoreData($event)"
  loadingSpinner="bubbles"
  loadingText="Loading Users..."
>
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>

<ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
  <ion-refresher-content
    pullingIcon="arrow-dropdown"
    pullingText="Pull to refresh"
    refreshingSpinner="circles"
  >
  </ion-refresher-content>
</ion-refresher>
</ion-content>