<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-title>
        <ion-label>Notifications</ion-label>
      </ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
          <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list class="ion-text-center" *ngFor="let nkey of notificationSortedKeys">
    <ion-list-header color="light">
        <ion-label>
          <h2>{{nkey | titlecase}}</h2>
        </ion-label>
    </ion-list-header>
    <ion-spinner color="primary" name="dots" *ngIf="showLoading"></ion-spinner>
    <ion-grid *ngIf="!showLoading && notificationSorted[nkey].length === 0">
      <ion-row>
        <ion-col size="12">
            <ion-text class="ion-margin">No Notifications</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
    <app-notification-card
    *ngFor="let notification of notificationSorted[nkey]"
    [notification]="notification"
    ></app-notification-card>
  </ion-list>



  <ion-infinite-scroll
  threshold="500px"
  (ionInfinite)="loadMoreData($event)"
  loadingSpinner="bubbles"
  loadingText="Loading Users..."
>
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>

<ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
  <ion-refresher-content
    pullingIcon="arrow-dropdown"
    pullingText="Pull to refresh"
    refreshingSpinner="circles"
  >
  </ion-refresher-content>
</ion-refresher>
</ion-content>