
.font-bold{
    font-weight: bold;
}
.font-size{
    font-size: 30px;
}
.arrow{
    font-weight: bold;
    top: -8px;
    right: 42px;
}

.gif{
   height: 45vh;
   width: 45vh; 
   padding-left: 20%;
}