ion-slides {
  min-height: 300px !important;
}

ion-spinner.center {
  margin-top: 15vh;
}

ion-footer {
  background: #3880ff;
  color: white;
}

app-loading {
  width: 100%;
}
.animation-duration {
  animation-duration: 700ms;
  animation-delay: 0s;
}

ion-slide {
  overflow: hidden;
}

app-review {
  width: 100%;
  margin-right: 2%;
  margin-left: 2%;
}

app-category-wise-products-card {
  margin-left: 2%;
  margin-right: 2%;
}

.bg-white {
  backface-visibility: hidden;
  background-color: white;
}

.category {
  width: 100%;
}

ion-slides , ion-slide , .categories {
  width: 100% !important;
}


.full-height {
  height: 100%;;
}

.cart-row {
  position: sticky;
  bottom: 0px;
  z-index: 10000;
  color: white;
  background: #3880ff;
  padding: 2px
}

.br-left {
  border-left: 1px solid lightgrey;
}

.overlay {
  display: none;
}

.icon-sad {
  font-size: 200px;
  padding-top: 50px;
}

.showSideReview {
  display: none;
}


@media(min-width:1024px) and (max-width:2280px) {
  .showSideReview {
    display: block;
  }
}

@media (min-width: 1280px) and (max-width: 2280px) {
  //CSS

  .categories {
    column-count: 2;
    column-gap: 2px;

  }

  .category {
    display: inline-block;
    margin: 0;
    padding: 0px;
  }
}