ion-footer {
  background: #3880ff;
  color: white;
}

app-loading {
  width: 100%;
}
.animation-duration {
  animation-duration: 700ms;
  animation-delay: 0s;
}

ion-slide {
  overflow: hidden;
}

app-review {
  width: 100%;
  margin-right: 2%;
  margin-left: 2%;
}

app-category-wise-products-card {
  margin-left: 2%;
  margin-right: 2%;
}

.bg-white {
  backface-visibility: hidden;
  background-color: white;
}