<!--Restaurant Card Template Start-->
<ng-template #restaurantCard>
  <app-loading
    *ngIf="showRestaurantLoading === true"
    [type]="'restaurant-detail'"
  ></app-loading>
  <app-restaurant-card
    *ngIf="store != undefined"
    [store]="store"
    [isPreOrderAvailable]="isOrderAvailable"
    [viewType]="'detailedCard'"
  >
  </app-restaurant-card>
</ng-template>

<!--Restaurant Card Template End-->

<!--Segment Button Template Start-->
<ng-template #segmentButtons>
  <ion-segment
    mode="md"
    color="success"
    (ionChange)="segmentChanged($event)"
    [(ngModel)]="currentSegment"
    class="slider-tabs"
  >
    <ion-segment-button value="menu" checked>
      <ion-label>Menu</ion-label>
    </ion-segment-button>
    <ion-segment-button class="mobile-only" value="reviews">
      <ion-label>Reviews</ion-label>
    </ion-segment-button>
    <ion-segment-button value="info">
      <ion-label>Info</ion-label>
    </ion-segment-button>
  </ion-segment>
</ng-template>
<!--Segment Button Template Ends-->

<!--Product Listing Based on category Start-->
<ng-template #productListingBasedOnCategory>
  <ion-col size="12" class="ion-no-padding">
    <ion-item color="primary">
      <ion-text>
        {{selectedCategory}}
      </ion-text>
    </ion-item>
  </ion-col>
  <ion-col size="12" size-lg="6" *ngFor="let stockCurrent of stockCurrents">
    <app-product-card
      [store]="store"
      [isGuest]="isGuest"
      [stockCurrent]="stockCurrent"
      [type]=""
    ></app-product-card>
  </ion-col>
</ng-template>
<!--Product Listing Based on category End-->

<!--Category Wise Product Listing Start-->
<ng-template #categoryWiseProductListing>
  <ion-col size="12" class="ion-no-padding">
    <ion-spinner name="circles" class="center" *ngIf="categoryLoading">
    </ion-spinner>
    <div *ngIf="emptyStore" class="emptystore ">
      Empty Store
    </div>
    <div class="categories" *ngIf="showCategoryWiseProducts === true && !emptyStore">
      <div class="category" *ngFor="let category of categories">
        <ion-list
          [style.display]="(selectedCategory === 'All' || selectedCategory === category.name)?true:false"
        >
          <ion-item
            color="primary"
            lines="none"
            (click)="toggleCategoryShow(category.id)"
          >
            <ion-avatar>
              <ion-img [src]="category.imageLink" class="imageShow"> </ion-img>
            </ion-avatar>
            <ion-label margin>{{category.name | titlecase}}</ion-label>
            <ion-icon
              name="arrow-dropup-circle"
              *ngIf="categoryShow[category.id]"
              slot="end"
            ></ion-icon>
            <ion-icon
              name="arrow-dropdown-circle"
              *ngIf="!categoryShow[category.id]"
              slot="end"
            ></ion-icon>
          </ion-item>
          <app-category-wise-products-card
            *ngIf="store !== undefined"
            [category]="category"
            [store]="store"
            [isGuest]="isGuest"
            [showData]="categoryShow[category.id]"
          >
          </app-category-wise-products-card>
        </ion-list>
      </div>
    </div>
  </ion-col>
</ng-template>
<!--Category Wise Product Listing End-->

<!--------Page Template Start--------->
<ion-header no-border>
  <app-store-header
    *ngIf="store != undefined"
    [name]="store.name"
    [storeId]="store.regNo"
    [store]="store"
    (searchEnable)="toggleFabButtonAndFooter($event)"
    (categoryfilterClicked)="categoryListPopOver($event)"
  ></app-store-header>
</ion-header>

<ion-content appScrollbarTheme>
  <ion-fab
    class="animated animation-duration"
    [ngClass]="(currentSegment === 'menu' && showCatgeoryFilterFab) ? 'rotateIn' : 'rotateOut'"
    vertical="bottom"
    horizontal="end"
    slot="fixed"
  >
    <ion-fab-button (click)="categoryListPopOver($event)">
      <ion-icon name="pizza"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div>
    <ng-container *ngTemplateOutlet="restaurantCard"></ng-container>
  </div>
  <ion-grid class="ion-no-padding full-height">
    <ion-row class="ion-no-padding full-height">
      <ion-col size="12" size-md="12" size-lg="12" class="ion-no-padding">
        <ng-container *ngTemplateOutlet="segmentButtons"></ng-container>
        <ion-slides
          [options]="slideOptions"
          (ionSlideDidChange)="slideChanged($event)"
        >
          <ion-slide>
            <ion-icon
              *ngIf="!isOrderAvailable && isClosed"
              class="icon-sad"
              mode="ios"
              color="danger"
              name="sad"
            ></ion-icon>
            <ng-container *ngIf="isOrderAvailable || !isClosed">
              <ion-grid class="ion-no-padding">
                <ion-row
                  class="categories"
                  *ngIf="store !== undefined && showCategoryWiseProducts === false"
                  no-margin
                  no-padding
                >
                  <ng-container
                    *ngTemplateOutlet="productListingBasedOnCategory"
                  ></ng-container>
                </ion-row>
                <ion-row>
                  <ng-container
                    *ngTemplateOutlet="categoryWiseProductListing"
                  ></ng-container>
                </ion-row>
              </ion-grid>
            </ng-container>
          </ion-slide>

          <ion-slide *ngIf="showReview">
            <app-review *ngIf="store != undefined" [store]="store"></app-review>
          </ion-slide>

          <ion-slide>
            <ion-grid>
              <ion-row *ngIf="store !== undefined">
                <ion-col size="12" *ngIf="store.location !== null">
                  <app-map
                    [showActiveLocation]="'false'"
                    [coords]="store.location"
                  ></app-map>
                </ion-col>
                <ion-col size="12" *ngIf="store !== undefined">
                  <ion-text *ngIf="store.info">
                    <p>{{ store.info }}</p>
                  </ion-text>
                  <ion-text *ngIf="!store.info">
                    <p>------------------</p>
                  </ion-text>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll
    threshold="100px"
    (ionInfinite)="loadMoreCategories($event)"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
    >
    </ion-refresher-content>
  </ion-refresher>
</ion-content>

<ion-footer
  [hidden]="!showFooter"
  class="animated animation-duration"
  [ngClass]="currentSegment === 'menu' ? 'slideInUp': 'slideOutDown'"
>
  <app-cart (viewClick)="navigateBasket()"></app-cart>
</ion-footer>

<!--Page Template End-->
