
<ng-template #signin>
  <ion-grid margin-top>
    <ion-row justify-content-center text-center class="centre">
      <ion-col size="6" justify-content-center>
        <div class="circle">
          <ion-icon class="large-icon" name="person"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center class="centre">
      <ion-col text-center class="container-box">
        <ion-item class="item-inner">
          <ion-label color="medium" position="floating">Username or Email</ion-label>
          <ion-input [(ngModel)]="username" background="light"></ion-input>
        </ion-item>
        <ion-item class="item-inner">
          <ion-label color="medium" position="floating">Password</ion-label>
          <ion-input [(ngModel)]="password" type="password"></ion-input>
        </ion-item>
        <ion-button [disabled]="loginDisabled()" (click)="login()" expand="block" margin-top margin-bottom>Login
        </ion-button>
        <ion-button (click)="forgetPasswordModal()" expand="block" margin-top margin-bottom>Forget password?
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-template>


<ng-template #register>
  <ion-grid margin-top>
    <ion-row justify-content-center>
      <ion-col size="6" text-center>
        <div class="circle">
          <ion-icon class="large-icon" name="person"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center class="centre">
      <ion-col text-center class="container-box">
        <form [formGroup]="signupForm">
          <ion-item class="item-inner">
            <ion-label color="medium" position="floating">Username</ion-label>
            <ion-input (ionChange)="showErrors('username')" formControlName="username" background="light"></ion-input>
          </ion-item>
          <ion-item class="ion-no-padding" lines="full" *ngIf="signupForm.get('username').invalid && showFormErrors['username']">
              <ion-text color="danger">
                Username should not contain spaces and should be 3 - 15
                characters long
              </ion-text>
          </ion-item>
          <ion-item class="item-inner">
            <ion-label color="medium" position="floating">Email</ion-label>
            <ion-input (ionChange)="showErrors('email')" formControlName="email" background="light"></ion-input>
          </ion-item>
          <ion-item class="ion-no-padding" lines="full" *ngIf="signupForm.get('email').invalid && showFormErrors['email']">
              <ion-label color="danger">Invalid Email</ion-label>
          </ion-item>
          <app-intl-number-input (validEvent)="checkNumber($event)">
          </app-intl-number-input>
          <ion-item class="item-inner">
            <ion-label color="medium" position="floating">Password</ion-label>
            <ion-input (ionChange)="showErrors('password')" formControlName="password" [type]="passwordFieldType"></ion-input>
            <ion-icon name="eye" slot="end" class="showPasswordIcon" *ngIf="!showPasswordText"
            (click)="showPassword(true)"></ion-icon>           
            <ion-icon name="eye-off" slot="end" class="showPasswordIcon" *ngIf="showPasswordText"
            (click)="showPassword(false)"></ion-icon>           
          </ion-item>
          <ion-item class="ion-no-padding"  lines="full" *ngIf="signupForm.get('password').invalid && showFormErrors['password']">
              <ion-label color="danger">Password should be 6 - 8 characters long</ion-label>
          </ion-item>
        </form> 
      </ion-col>
      <ion-col size="12" class="centerAlign">
        <ion-checkbox class="marginRight" [(ngModel)]="termsChecked"></ion-checkbox>
        <ion-label>I accept the 
        </ion-label>
        <ion-text color="primary" (click)="showTermsAndPolicy()">Terms and Policy</ion-text>
      </ion-col>
      <ion-col size="12">
        <ion-button [disabled]="registerDisabled()" (click)="signupModal()" expand="block" margin-top margin-bottom>
          Register</ion-button>
      </ion-col>
     
    </ion-row>
  </ion-grid>
</ng-template>


<ion-header class="desktop-only" *ngIf="type==='modal'">
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <ion-buttons slot="end" *ngIf="type!=='page'">
      <ion-button color="primary" (click)="dismiss()" >
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-header class="mobile-only">
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <ion-buttons slot="end" *ngIf="type!=='page'">
      <ion-button color="primary" (click)="dismiss()" >
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="type==='page'">
      <ion-button color="primary" (click)="navigateRoot()" >SKIP</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  class="mobile">
  <ion-segment (ionChange)="slide($event)" [value]="value" class="mobile slider-tabs" >
    <ion-segment-button value="login">
      <ion-label>Login</ion-label>
    </ion-segment-button>
    <ion-segment-button value="signup">
      <ion-label>Register</ion-label>
    </ion-segment-button>
  </ion-segment>
  
  <ion-slides #slides (ionSlideDidChange)="slideChange()">
    <ion-slide padding>
      <ng-content *ngTemplateOutlet="signin"></ng-content>
    </ion-slide>
    <ion-slide padding>
     <ng-content *ngTemplateOutlet="register"></ng-content>
    </ion-slide>
  </ion-slides>
</ion-content>
