<ion-header>
  <ion-toolbar>
    <ion-buttons>
        <ion-title>
            Select Preorder Time
         </ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content> 
  <ion-grid>
    <ion-row>
      <ion-col size="12">
          <ion-datetime
            [min]="fromTime"
            [max]="toTime"
           class="ion-text-center" display-format="h:mm A" picker-format="h:mm A" mode="ios" >
          </ion-datetime>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-button expand="block" class="ion-margin" (click)="dismiss()">
    Confirm
  </ion-button>
</ion-footer>