<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button slot="start" auto-hide="true"></ion-menu-button>
      <ion-title>Profile</ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="power"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-loading
    *ngIf="customer === undefined"
    [type]="'profile'">
  </app-loading>
  <app-profile-info *ngIf="customer != undefined"
  [customer]="customer"
  [keyCloakUser]="keyCloakUser"
  [contact]="contact"
  ></app-profile-info>

  <ion-segment
  (ionChange)="segmentChanged($event)"
  [(ngModel)]="currentSegment"
  >
    <!-- <ion-segment-button value="frequently" checked>
      <ion-label>
        Frequent
      </ion-label>
    </ion-segment-button> -->
    <ion-segment-button value="favourite" checked>
      <ion-label>
        Favourites
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="history">
      <ion-label>History</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-slides (ionSlideDidChange)="slideChanged($event)">
    <!-- <ion-slide>
      <app-frequently-ordered-list></app-frequently-ordered-list>
    </ion-slide> -->
    <ion-slide>
      <app-favourite-list>
      </app-favourite-list>
    </ion-slide>
    <ion-slide>
      <app-history-list
      *ngIf="keyCloakUser !== undefined"
      [keyCloakUser]="keyCloakUser"
      ></app-history-list>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer>
  <app-footer [filterHide]="'true'"></app-footer>
</ion-footer>
