<ion-header class="mobile-only">
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button slot="start" auto-hide="true"></ion-menu-button>
      <ion-title>Profile</ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="power"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--Desktop Version-->
<ion-content appScrollbarTheme>
  <ion-grid class="fixed-height ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding" size="12">
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col class="ion-no-padding">
              <app-loading *ngIf="customer === undefined" [type]="'profile'"></app-loading>
              <app-profile-info *ngIf="customer != undefined" [customer]="customer" [keyCloakUser]="keyCloakUser"
                [contact]="contact"></app-profile-info>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="mg-0">
              <ion-card class="ion-no-padding ion-no-margin">
                <ion-card-header class="sticky heading-one ion-no-padding" color="primary">
                  <ion-card-subtitle class="pd-10">
                    <p class="mg-0">Favourites</p>
                  </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content class="ion-no-padding ion-no-margin">
                  <app-favourite-list></app-favourite-list>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col size="12">
        <app-address-list [mode]="'component'"></app-address-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <app-footer [filterHide]="'true'"></app-footer>
</ion-footer>