<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-title>Terms and Policy</ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item lines="full">
      <ion-text>
        I agree to share contact number and mail address with the store.
      </ion-text>
    </ion-item>
  </ion-list>
</ion-content>