<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide  *ngFor="let s of [1,2,3]">
      <div class="container">
        <div class="imageContainer">
          <img src="./assets/slide-{{s}}.jpg"/>
        </div>

        <div *ngIf="s===3" class="buttonContainer">
          <ion-button style="opacity: 0.7;" shape="round" (click)="skipSlide()" color="dark" expand="block">
            <ion-icon name="arrow-round-forward"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>