ion-slides {
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;}

.imageContainer {
    height: 100%;
    width: 100%;}

.imageContainer img {
    height: 100%;
    width: 100%;}

.textContainer {
    padding: 10px;
}

.buttonContainer {
    padding: 10px 20px;
    position: fixed;
    top: 90%;
    right: 0px;
}