ion-slides {
    height: 100%;
}

.container {
    height:100%;
}

.imageContainer {
    height: 80%;
}

.imageContainer img {
    height: 100%;
}

.textContainer {
    padding: 10px;
}

.buttonContainer {
    padding: 20px;
}