<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide  *ngFor="let s of [1,2,3]">
      <div class="container">
        <div class="imageContainer">
          <img src="./assets/images/slides/slide-{{s}}.png"/>
        </div>
        <div class="textContainer">
          <ion-text class="ion-justify-content-center">
           <h3> Blah Blah Blah Blah Blah Blah Blah</h3>
          </ion-text>
        </div>
        <div *ngIf="s===3" class="buttonContainer">
          <ion-button (click)="skipSlide()" expand="block">Continue</ion-button>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>