<ion-item color="light" lines="none">
  <ion-avatar>
      <ion-img
      [src]="
        'data:' +
        category.imageContentType +
        ';base64,' +
        category.image
      "
      class="imageShow"
    >
    </ion-img>
  </ion-avatar>
<ion-label margin>{{category.name}}</ion-label>
</ion-item>
<app-loading
*ngIf="showLoading === true && stockCurrents.length > 0"
[type]="'product'"
></app-loading>
<ion-list *ngIf="stockCurrents.length > 0">
  <app-product-card
  *ngFor="let stockCurrent of stockCurrents"
  [store]="store"
  [stockCurrent]="stockCurrent"
></app-product-card>
</ion-list>
<div *ngIf="stockCurrents.length === 0 && showLoading === false">
    <h3 style="font-family:monospace">Found 0 Products</h3>
  </div>