* {
    font-weight: 300;
}

p {
    margin: 0;
}

ion-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: auto;
    overflow: hidden;
}

ion-grid {
    margin: 20px;
}

.cl-blue {
    color: blue;
    margin: 12px;
}

.cl-grey {
    color: gray;
}

.bold {
    font-weight: bold;
}

.small-margin {
    margin-left: 4px;
}

.small-padding {
    padding: 5px;
}
.countdown{
    margin: 8px;
}