* {
    font-weight: 300;
}

p {
    margin: 0;
}

img {
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
}

ion-grid {
    margin: 20px;
}

.cl-blue {
    color: blue;
}

.cl-grey {
    color: gray;
}

.bold {
    font-weight: bold;
}

.small-margin {
    margin-left: 4px;
}

.small-padding {
    padding: 5px;
}