  <app-loading *ngIf="showLoading === true" [type]="'notification'"></app-loading>
  <ion-item *ngIf="store" lines="full" (click)="showOrderDetails()">

      <ion-thumbnail margin>
          <ion-img
          [src]="
            store.imageLink
          "
        ></ion-img>
      </ion-thumbnail>
        <ion-label>
          <h2>{{(notification.title | titlecase)}}</h2>
          <h3>{{(store.name | titlecase)}}
            <small class="cl-grey">{{' , ' + (store.storeAddress.city | titlecase)}}</small>
          </h3>
          <ion-badge color="success">{{order.orderId}}</ion-badge>
          <p>{{notification.message}}</p>
          <b><p>{{notification.date | date: 'short'}}</p></b>
        </ion-label>  
    </ion-item>