  <app-loading *ngIf="showLoading === true" [type]="'notification'"></app-loading>
  <ion-item class="pointer" 
  [ngClass]="notification.status === 'unread' ? 'unread': 'slideOutDown'"   
  *ngIf="store" lines="full" (click)="showOrderDetails()">

      <ion-thumbnail margin>
          <ion-img
          [src]="
            store.imageLink
          "
        ></ion-img>
      </ion-thumbnail>
        <ion-label *ngIf="notification.title == 'Order Accepted'"  >
          <h2 >
            <ion-text color="primary">{{(notification.title | titlecase)}}
            </ion-text>
            </h2>
          <h3>{{(store.name | titlecase)}}
            <small class="cl-grey">{{' , ' + (store.storeAddress.city | titlecase)}}</small>
          </h3>
          <ion-badge color="primary">{{order.orderId}}</ion-badge>
          <p>{{notification.message}}</p>
          <b><p>{{notification.date | date: 'dd/MM/yyyy hh:mm a'}}</p></b>
        </ion-label>  
        <ion-label *ngIf="notification.title == 'Order Delivered'">
          <h2>
            <ion-text color="success">{{(notification.title | titlecase)}}
            </ion-text>
          </h2>
          <h3>{{(store.name | titlecase)}}
            <small class="cl-grey">{{' , ' + (store.storeAddress.city | titlecase)}}</small>
          </h3>
          <ion-badge color="success">{{order.orderId}}</ion-badge>
          <p>{{notification.message}}</p>
          <b>
            <p>{{notification.date | date: 'dd/MM/yyyy hh:mm a'}}</p>
          </b>
        </ion-label>
        <ion-label *ngIf="notification.title== 'Order Placed'" >
          <h2 >{{(notification.title | titlecase)}}</h2>
          <h3>{{(store.name | titlecase)}}
            <small class="cl-grey">{{' , ' + (store.storeAddress.city | titlecase)}}</small>
          </h3>
          <ion-badge color="warning">{{order.orderId}}</ion-badge>
          <p>{{notification.message}}</p>
          <b><p>{{notification.date | date: 'dd/MM/yyyy hh:mm a'}}</p></b>
        </ion-label>
    </ion-item>