  <app-loading *ngIf="showLoading === true" [type]="'notification'"></app-loading>
  <ion-item *ngIf="store" lines="full" (click)="showOrderDetails()">

      <ion-thumbnail margin>
          <ion-img
          [src]="
            'data:' +
            store.imageContentType +
            ';base64,' +
            store.image
          "
        ></ion-img>
      </ion-thumbnail>
        <ion-label>
          <h2>{{(store.name | titlecase) + ' Accepted Your Order'}}</h2>
          <h3>{{order.orderId}}</h3>
          <p>{{notification.message}}</p>
          <b><p>{{notification.date | date: 'short'}}</p></b>
        </ion-label>  
    </ion-item>