<ion-card no-padding id="{{ stockCurrent.product.id }}">
  <div class="ribbon1" *ngIf="discount!=null && discount.rate !== null && discount.rate > 0">
    <span>
      {{discount.rate}}% off
    </span>
  </div>
  <ion-item lines="none">
    <ion-thumbnail>
      <ion-img
        [src]="
          'data:' +
          stockCurrent.product.imageContentType +
          ';base64,' +
          stockCurrent.product.image
        "
        class="imageShow"
      >
      </ion-img>
    </ion-thumbnail>
      <ion-grid>
        <ion-row (click)="toggleDescription()">
          <ion-col class="title-card" margin-top padding-top>
            <ion-card-title>{{ stockCurrent.product.name }}</ion-card-title>
            <ion-text [ngClass]="discount!=null && discount.rate !== null && discount.rate > 0?'strike-through':''"><strong>&#8364;{{ stockCurrent.product.sellingPrice }}</strong></ion-text>
            <ion-text class="margin-left-25" *ngIf="(discount!=null && discount.rate !== null && discount.rate > 0)"><strong>&#8364;{{ stockCurrent.sellPrice }}</strong></ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="10" size-md="6" size-lg="6" *ngIf="auxilaryLoadComplete" >
            <ion-buttons>
              <ion-button (click)="remove(0, stockCurrent)" color="medium">
                <ion-icon name="remove"></ion-icon>
              </ion-button>
              <ion-input #orderCountInput class="orderCount" (ionChange)="add(0,stockCurrent)" [placeholder]="orderCount"></ion-input>
              <ion-button (click)="add(0, stockCurrent)" color="medium">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-col>
          <ion-col size="2" offsetLg="4" offsetMd="4">
            <ion-buttons >
              <ion-button
                fill="none"
                (click)="addToFavourite(stockCurrent.product)"
                *ngIf="!isFavourite"
              >
                <ion-icon slot="icon-only" name="heart-empty"></ion-icon>
              </ion-button>
              <ion-button
                fill="none"
                (click)="removeFromFavourite(stockCurrent.product)"
                *ngIf="isFavourite"
              >
                <ion-icon
                  color="danger"
                  slot="icon-only"
                  name="heart"
                ></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-item>
  <div *ngIf="showDescription === true && stockCurrent !== null && comboLineItems.length > 0">
    <ion-list text-left>
      <ion-item lines="full" color="light">
        <ion-list-label margin>Combo's</ion-list-label>
      </ion-item>
      <ion-item lines="none" *ngFor="let combo of comboLineItems">
        <ion-thumbnail class="comboPhoto">
          <ion-img
            [src]="
              'data:' +
              combo.comboItem.imageContentType +
              ';base64,' +
              combo.comboItem.image
            "
            class="imageShow"
          >
          </ion-img>
          </ion-thumbnail>
        <ion-text>
          <p>{{combo.comboItem.name}}</p>
          <p *ngIf="combo.quantity !== null">{{combo.quantity}}</p>
        </ion-text>
      </ion-item>
    </ion-list>
  </div>
</ion-card>
