<ion-card no-padding id="{{ stockCurrent.product.id }}" *ngIf="type === 'full'">
  <div class="ribbon1" *ngIf="discount!=null && discount.rate !== null && discount.rate > 0">
    <span>
      {{discount.rate}}% off
    </span>
  </div>
  <ion-item lines="none">
    <ion-thumbnail>
      <ion-img
        [src]="
          'data:' +
          stockCurrent.product.imageContentType +
          ';base64,' +
          stockCurrent.product.image
        "
        class="imageShow"
      >
      </ion-img>
    </ion-thumbnail>
      <ion-grid>
        <ion-row>
          <ion-col (click)="toggleDescription()" class="title-card" margin-top padding-top>
            <ion-card-title>{{ stockCurrent.product.name | titlecase }}</ion-card-title>

            <ion-text *ngIf="!(discount!=null && discount.rate !== null && discount.rate > 0)"><strong>&#8364;{{ stockCurrent.product.sellingPrice }}</strong></ion-text>
            <ion-text class="strike-through" *ngIf="discount!=null && discount.rate !== null && discount.rate > 0"><strong><s>&#8364;{{ stockCurrent.product.sellingPrice }}</s></strong></ion-text>

            <ion-text class="margin-left-25" *ngIf="(discount!=null && discount.rate !== null && discount.rate > 0)"><strong>&#8364;{{ stockCurrent.sellPrice }}</strong></ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8"  *ngIf="auxilaryLoadComplete" >
            <ion-buttons>
              <ion-button (click)="remove(0, stockCurrent)" color="medium">
                <ion-icon name="remove"></ion-icon>
              </ion-button>
              <ion-input disabled #orderCountInput class="orderCount" (ionChange)="add(0,stockCurrent)" [placeholder]="orderCount"></ion-input>
              <ion-button (click)="add(0, stockCurrent)" color="medium">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-col>
          <ion-col size="4" >
            <ion-buttons class="ion-justify-content-end" >
              <ion-button
              slot="end"
                fill="none"
                (click)="addToFavourite(stockCurrent.product)"
                *ngIf="!isFavourite && showFavourite"
              >
                <ion-icon slot="icon-only" name="heart-empty"></ion-icon>
              </ion-button>
              <ion-button
              slot="end"
                fill="none"
                (click)="removeFromFavourite(stockCurrent.product)"
                *ngIf="isFavourite && showFavourite"
              >
                <ion-icon
                  color="danger"
                  slot="icon-only"
                  name="heart"
                ></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-item>
  <div *ngIf="showDescription === true && stockCurrent !== null">
    <ion-text>
     <p>{{stockCurrent.product.reference}}</p>
    </ion-text>
    <ion-list text-left *ngIf=" comboLineItems.length > 0">
      <ion-item lines="full" color="light">
        <ion-list-label margin>Combo's</ion-list-label>
      </ion-item>
      <ion-item lines="none" *ngFor="let combo of comboLineItems">
        <ion-thumbnail class="comboPhoto">
          <ion-img
            [src]="
              'data:' +
              combo.comboItem.imageContentType +
              ';base64,' +
              combo.comboItem.image
            "
            class="imageShow"
          >
          </ion-img>
          </ion-thumbnail>
        <ion-text>
          <p>{{combo.comboItem.name}}</p>
          <p *ngIf="combo.quantity !== null">{{combo.quantity}}</p>
        </ion-text>
      </ion-item>
    </ion-list>
  </div>
</ion-card>

  <ion-item  *ngIf="product !== undefined && type === 'minimal'">
      <ion-thumbnail class="img-small">
          <ion-img
            [src]="
              'data:' +
              product.imageContentType +
              ';base64,' +
              product.image
            "
            class="imageShow"
          >
          </ion-img>
        </ion-thumbnail>
        <ion-label class="ion-margin" *ngIf="orderLine !== undefined">
          <h1>{{product.name}}</h1>
          <span>{{orderLine.quantity + ' x &#8364;' + orderLine.pricePerUnit + ' '}}</span>
          <span>{{'Total: &#8364;' + (orderLine.total |  number: "1.1-2")}}</span>
        </ion-label>
  </ion-item>
