<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-button (click)="navigateBack()">
                <ion-icon name="arrow-back" slot="icon-only" ></ion-icon>
            </ion-button>
            <ion-title>Process Payment...</ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <app-braintree-card-payment *ngIf="provider==='card'" (successEvent)="navigateForward()" (dismissEvent)="errorInPayment()"></app-braintree-card-payment>
    <app-paypal-payment *ngIf="provider==='paypal'" (successEvent)="navigateForward()" (dismissEvent)="errorInPayment()"></app-paypal-payment>
</ion-content>