.imageShow {
  position: relative;
  top: 0%;
  height: 120px;
  width: 120px;
  border-radius: 6px !important;
  overflow: hidden;
  box-shadow: 0px 0px 1px grey;
}

.bg-grey {
  color: grey;
}


ion-card {
  margin: 0px;
}


ion-card-header {
  padding: 5px;
  height: 180px;
  border-bottom: 1px solid lightgray;
}

.closeCard {
  border-radius:0px;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height:auto;
  background-color: rgba(0,0,0,0.7);
}


.mainImg {
  width: fit-content;
  height: fit-content;
  margin: auto;
}

h2 {
  font-size: 18px;
}

.medium {
  font-size: 14px;
}

.small {
  font-size: 11px;
}

.overflow-text-wrap {
  font-size: 11px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.fnt-sserif {
  font-family: sans-serif;
}

.cl-grey {
  color: grey;
}

h4 , p{
  margin: 0px;
}


.ribbon6 {
  width: 130px;
  height: 20px;
  line-height: 18px;
  position: absolute;
  top: 11px;
  right: -44px;
  z-index: 2;
  overflow: hidden;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  color: beige;
  box-shadow: 0 0 0 5px #f04141, 0px 21px 5px -18px rgba(0, 0, 0, 0.6);
  background: #f04141;
  text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  ion-card-header {
    padding: 2vw 0vw;
    height: auto;
  }
} 

.overlay-container {
  position: relative;
  color: white;
}

.overlay-item {
  --background: rgba(0, 0, 0, 0.0);
  padding: 21px 0px;
  color: white;
}

.rating {
  display: flex;
  align-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 28px;
  color: yellow;
}

