<!--Normal View-->

<ion-card class="ion-no-padding" *ngIf="viewType === 'normal'">
  <span class="ribbon6" *ngIf="!(timeNow | closed: store.openingTime:store.closingTime)">Closed</span>
  <ion-card-header (click)="showHotelMenu(store.regNo)">
    <ion-item lines="none">
      <ion-img no-margin slot="start" *ngIf="store.imageLink" slot="start"
        [src]="store.imageLink" class="imageShow">
      </ion-img>
      <ion-label style="margin-left:15px">
        <ion-text word-wrap text-wrap class="category">
          <h2 class="store-name fnt-sserif">{{store.name  | titlecase}}
            <small *ngIf="store.storeAddress" class="cl-grey">{{',' + (store.storeAddress.city | titlecase)}}</small>
          </h2>
          <h3 class="medium overflow-text-wrap fnt-sserif cl-grey">{{categories | arrayFormater}} </h3>
          <h4 class="medium overflow-text-wrap fnt-sserif cl-grey" style="color:#56a232">
            {{deliveryTypes | arrayFormater:'only'}}</h4>
          <h3 class="small fnt-sserif cl-grey" *ngIf="deliveryInfos.length > 0">Delivering From
            {{ deliveryInfos[0].startingTime | date:'shortTime' }}</h3>
          <h3 class="small fnt-sserif cl-grey" *ngIf="store.minAmount">
            {{'Min spend: &#8364;' + store.minAmount}}</h3>
          <h3 class="small fnt-sserif cl-grey" *ngIf="store.storeSettings.deliveryCharge !== undefined &&
          deliveryOk">
            <span *ngIf="store.storeSettings.deliveryCharge > 0"> Delivery Charge
              &#8364;{{store.storeSettings.deliveryCharge}}</span>
          </h3>
          <ion-badge color="warning" *ngIf="store.storeSettings.deliveryCharge === 0 && deliveryOk"> Free delivery</ion-badge>
          <h5 class="medium fnt-sserif cl-grey" class="no-wrap"
            *ngIf="store.openingTime != undefined && store.closingTime != undefined">
            {{store.openingTime | date: 'shortTime' }} to {{ store.closingTime |  date: 'shortTime'}}</h5>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-card-header>
  <ion-card-content *ngIf="store.name" class="ion-no-padding">
    <ion-grid no-padding>
      <ion-row>
        <ion-col size="10" text-center class="ion-no-padding" *ngIf="store != undefined">
          <ion-buttons>
            <rating [rate]="store.totalRating" [readonly]="true"></rating>
            <ion-button *ngIf="reviewCount" disabled>{{'(' + reviewCount + ')'}}</ion-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="2" justify-content-center text-center no-padding>
          <ion-buttons justify-content-center text-center>
            <ion-button fill="none" (click)="addToFavourite(store)" *ngIf="!isFavourite && showFavourite">
              <ion-icon slot="icon-only" name="heart-empty"></ion-icon>
            </ion-button>
            <ion-button fill="none" (click)="removeFromFavourite(store)" *ngIf="isFavourite && showFavourite">
              <ion-icon color="danger" slot="icon-only" name="heart"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

<!--Detailed View-->
<div class="container" *ngIf="viewType === 'detailedCard'">
  <ion-card color="danger" class="closeCard" *ngIf="!(timeNow | closed: store.openingTime:store.closingTime)">
    <ion-card-content>
      <ion-card-title>Closed</ion-card-title>
      <ion-card-subtitle>
        Serving in
        {{ timeNow | dateDifference: store.openingTime:store.closingTime }}
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>
  <div class="overlay-container">
    <ion-img *ngIf="store.imageLink" slot="start"
    [src]="store.imageLink" class="mainImg"></ion-img>
    <div class="overlay">

      <ion-item class="overlay-item">
        <ion-text slot="start">
          <h2>
            <strong>{{ store.name | uppercase }}</strong>
            <small>{{',' + (store.storeAddress.city | titlecase)}}</small>
          </h2>
          <p>
            {{ store.openingTime | date: "shortTime" }} to
            {{ store.closingTime | date: "shortTime" }}
          </p>
          <p class="rating">
            {{store.totalRating | number:'1.1-1'}}
            <ion-icon name="star-half"></ion-icon>
          </p>
        </ion-text>

      </ion-item>
    </div>
  </div>
</div>