.imageShow {
  position: relative;
  top: 0%;
  height: 14vh;
  width: 14vh;
}

ion-card-header {
  padding: 2vw 0vw;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 2vh;
  position: relative;
  bottom: 36vw;
}


.container {
  height: 85vw;
}

.mainImg {
  width: 60vw;
  height: 60vw;
  margin: auto;
}

h2 {
  font-size: 18px;
}

.medium {
  font-size: 14px;
}

.small {
  font-size: 11px;
}

.overflow-text-wrap {
  font-size: 11px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}