.imageShow {
  position: relative;
  top: 0%;
  height: 120px;
  width: 120px;
}
ion-card {
  margin: 0px;
}
ion-card-header {
  padding: 2vw 0vw;
  min-height: 180px;
  max-height: 180px;
}

.overlay {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 2vh;
  position: relative;
}


.mainImg {
  width: fit-content;
  height: fit-content;
  margin: auto;
}

h2 {
  font-size: 18px;
}

.medium {
  font-size: 14px;
}

.small {
  font-size: 11px;
}

.overflow-text-wrap {
  font-size: 11px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.fnt-sserif {
  font-family: sans-serif;
}

.cl-grey {
  color: grey;
}

h4 {
  margin: 0px;
}