<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <ion-title> 
          <ion-label>{{currentPlaceName}}</ion-label>
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
      <ion-title>
        <small>Choose Distance</small>
      </ion-title>
      <ion-range min="10" max="100" [(ngModel)]="distance" (ionChange)="distanceChanged($event)">
        <ion-label slot="end">
          <h2>{{distance}}KM</h2>
        </ion-label>
      </ion-range>      
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-buttons>
    <ion-searchbar #placeSearch debounce="1500" placeholder="Enter Location Name"
      (ionCancel)="close()" (ionChange)="getPlacePredictions($event)"></ion-searchbar>
  </ion-buttons>

  <!--List Of Available place Suggestions-->
  <ion-spinner color="primary" name="dots" *ngIf="showSpinner"></ion-spinner>
  <ion-list *ngIf="searchTerm === '' && recents.length > 0">
    <ion-list-header>
      <ion-label>
        <h4>Recent Place's</h4>
      </ion-label>
    </ion-list-header>
    <ion-item lines="full" *ngFor="let place of recents" (click)="selectPlace(place.data)">
      <ion-label>
        {{place.data.description}}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="places.length > 0 && !showSpinner">
    <ion-item *ngFor="let place of places" (click)="selectPlace(place)">
      {{ place.description }}</ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="getCurrentLocation()">
      <ion-icon name="locate"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>