<ion-header class="mobile-only">
  <app-header 
  [notificationsOn]="!isGuest"
  (searchEvent)="searchBarActivated($event)"
  ></app-header>
</ion-header>
<ion-content appScrollbarTheme>
  <ion-grid class="ion-no-padding ion-no-margin full-height">
    <ion-row class="ion-no-padding ion-no-margin full-height">
      <ion-col size="12" size-md="12" class="ion-no-padding ion-no-margin">
        <app-banner></app-banner>
        <div class="posSticky">
          <ion-item lines="none" color="light">
            <ion-label slot="start">
              <span class="font-20 heading-one">What's Nearby! </span>
            </ion-label>
            <ion-label
              class="pointer"
              text-right
              *ngIf="location.fetchedLocation"
              (click)="showPlaceSelectionModal()"
            >
              <p class="font-20 heading-one">{{ location.name}}</p>
            </ion-label>
            <ion-label
              slot="end"
              class="ion-text-center"
              *ngIf="!location.fetchedLocation"
            >
              <ion-spinner name="dots"></ion-spinner>
            </ion-label>
            <ion-icon
              class="pointer"
              name="create"
              slot="end"
              *ngIf="location.fetchedLocation"
              (click)="showPlaceSelectionModal()"
            ></ion-icon>
          </ion-item>
          <ion-item
            lines="full"
            *ngIf="currentFilterName !== '' && currentFilterName !== undefined"
          >
            <ion-label slot="start">
              Filters Applied
            </ion-label>
            <ion-badge slot="end">
              {{currentFilterName}}
            </ion-badge>
          </ion-item>
        </div>

        <ion-grid no-padding no-margin>
          <ion-row no-padding no-margin>
            <ion-col size="12" no-padding>
              <ion-grid>
                <ion-row>
                  <ion-col
                    class="restaurantCol padding-top ion-text-center"
                    *ngIf="!showLoading && stores.length <= 0 && currentFilter === 2"
                  >
                    <ion-label class="font-20">
                      <h1>
                        Sorry online ordering isn't available in yet.We'll be
                        there soon.
                      </h1>
                    </ion-label>
                  </ion-col>
                  <ion-col
                    class="restaurantCol padding-top ion-text-center"
                    *ngIf="!showLoading && stores.length <= 0 && currentFilter !== 2"
                  >
                    <ion-label class="font-20">
                      <h1>
                        No Store Found(0);
                      </h1>
                    </ion-label>
                  </ion-col>

                  <ion-col
                    class="restaurantCol"
                    size="12"
                    size-md="6"
                    size-lg="6"
                    *ngFor="let store of stores"
                  >
                   <ng-container *ngIf="location.latLon">
                    <app-restaurant-card
                    [isGuest]="isGuest"
                    [currentLatLon]="location.latLon"
                    *ngIf="store.name !== null"
                    [store]="store"
                  ></app-restaurant-card>
                   </ng-container>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <app-loading
                *ngIf="showLoading === true"
                [type]="'restaurant'"
              ></app-loading>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreStores($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="bubbles"
    >
    </ion-refresher-content>
  </ion-refresher>
</ion-content>
<ion-footer [hidden]="(!showFooter)"
class="animated animation-duration"
[ngClass]="showFooter? 'slideInUp': 'slideOutDown'"
>
  <app-filter
    *ngIf="showFilters"
    [showClose]="true"
    (closeFilter)="toggleFilteromponent($event)"
  ></app-filter>
  <app-footer (filter)="toggleFilteromponent('open')"></app-footer>
</ion-footer>
