  .highlightText {
    margin-top: 4px;
    padding: 3px 13px;
    background: #f8f4f4;
  }

  .font-20 {
    font-size: 20px;
  }

  .border-left  {
    border-left:1px solid #e9e9e9;
  }

  .full-height {
    height: 100%;;
  }

  .padding-top {
    padding-top:250px;
  }

  .posSticky {
    position: sticky;
    top: 0px;
    z-index: 1000;
  }

  @media (min-width: 1280px) and (max-width: 2280px) {
    //CSS

    .restaurantCol {
      transform: scale(0.98);
    }

    .restaurantCol:hover {
      transform: scale(1.04);
      cursor: pointer;
      background: white;
    }
  }

