<ion-header>
  <app-header></app-header>
</ion-header>
<ion-content>

  <app-map></app-map>
  <app-banner></app-banner>


  <ion-item lines="none" color="light">
      <ion-label slot="start">
          <span class="font-20">What's Nearby! </span> 
      </ion-label>
      <ion-label text-right *ngIf="currentPlaceName!==''" (click)="showPlaceSelectionModal()">
          <p class="font-20">{{ currentPlaceName}}</p>
      </ion-label>
      <ion-label slot="end" *ngIf="currentPlaceName===''">
          <ion-spinner name="dots" ></ion-spinner>
      </ion-label>
      <ion-icon name="create" slot="end" *ngIf="currentPlaceName!==''" (click)="showPlaceSelectionModal()"></ion-icon>
  </ion-item>

  <ion-grid no-padding no-margin>
    <ion-row no-padding no-margin>
      <ion-col size="12" no-padding>
              <ion-grid>
                <ion-row>
                  <ion-col size="12" size-md="6" size-lg="6" *ngFor="let store of stores">
                      <app-restaurant-card
                      *ngIf="store.name !== null"
                      [store]="store"
                    ></app-restaurant-card>      
                  </ion-col>
                </ion-row>
              </ion-grid>
              <app-loading *ngIf="showLoading === true" [type]="'restaurant'"></app-loading>
      </ion-col>
    </ion-row>
  </ion-grid>
  

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreStores($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
    >
    </ion-refresher-content>
  </ion-refresher>
</ion-content>
<ion-footer>
  <app-filter
    *ngIf="showFilters"
    (closeFilter)="toggleFilteromponent($event)"
  ></app-filter>
  <app-footer 
  (filter)="toggleFilteromponent('open')"
  ></app-footer>
</ion-footer>
