<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-button (click)="navigateBack()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-title>Payment Method</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-margin-vertical">
          <ion-col text-center>
            <ion-text>
              <h1 class="font-big"><b>&euro;{{toBePaid}}</b></h1>
              <p class="font-medium">Total amount due</p>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-list lines="none">
    <ion-list-header>
      <ion-label>
        <h1>Choose A Payment Method</h1>
      </ion-label>
    </ion-list-header>
    <ion-radio-group [(ngModel)]="paymentMethod">
      <ion-item lines="full" *ngFor="let paymentOption of paymentOptions">
        <ion-label>
          {{paymentOption.name}}</ion-label>
        <ion-radio slot="start" value="{{paymentOption.value}}" checked="{{paymentOption.isChecked}}"></ion-radio>
        <ion-icon [name]="paymentOption.icon"></ion-icon>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-button expand="block" class="ion-margin" [disabled]="paymentMethod==undefined" (click)="navigateForward()">Continue
  </ion-button>
</ion-footer>