<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-margin-vertical">
      <ion-col text-center>
        <ion-text>
            <h1><b>&euro;</b>{{toBePaid | number:'1.2-2'}}</h1>
          <p>Total amount Due</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-list lines="none">
  <ion-radio-group [(ngModel)]="paymentMethod">
    <ion-list-header>
      <ion-label>Choose A Payment Method</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Paypal Wallet/Card</ion-label>
      <ion-radio slot="start" value="paypal"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Card</ion-label>
      <ion-radio slot="start" value="card"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Cash On Delivery</ion-label>
      <ion-radio slot="start" value="cod"></ion-radio>
    </ion-item>
  </ion-radio-group>

</ion-list>

<ion-row>
  <ion-col>
    <ion-button expand="block" 
    [disabled]="paymentMethod==undefined" (click)="presentModal()"
    >Continue</ion-button>
  </ion-col>
</ion-row>
<ion-footer>
  <app-footer></app-footer>
</ion-footer>
  <!-- <ion-button expand="block" margin-bottom text-center color="light"
    class="ion-padding-vertical" (click)="payViaCashOnDelivery()">
    <ion-icon name="cash" slot="icon-only" margin ></ion-icon>
    <p>COD</p>
  </ion-button>
  <ion-button expand="block" margin-bottom text-center color="light"
    class="ion-padding-vertical" (click)="payWithPaypal()">
    <ion-icon name="globe" slot="icon-only" margin></ion-icon>
    <p>Pay With Paypal</p>
  </ion-button>

   <ion-button expand="full" margin-top text-center color="light"
    class="ion-padding-vertical" (click)="payWithRazorPay()">
    <ion-icon name="card" slot="icon-only" margin></ion-icon>
    <p>Pay With Razorpay</p>
  </ion-button>  -->

</ion-content>