// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.
::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

.extra {
  width: 25%;
  border-left: 1px solid lightgray;
  height: 100%;
  overflow: scroll;
}

app-banner {
  height: 100%;
}

.highlight {
  color:blue;
}

.badge {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}