<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-title>Add Extras</ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="auxilaryItems.length > 0">
    <div *ngFor="let a of auxilaryItems">
      <app-auxilary-product-card 
      *ngIf="a !== undefined"
      [auxilaryItem]="a.auxilaryItem" [product]="a.product"
        (auxilaryUpdated)="auxilaryUpated($event)"></app-auxilary-product-card>
    </div>
  </ion-list>
  <div *ngIf="type=='update' && auxilaryItems.length === 0">
    All Auxilaries Added
  </div>
</ion-content>
<ion-footer>
  <ion-button *ngIf="type=='add'" expand="block" margin (click)="addToCart()">Done</ion-button>
  <ion-button *ngIf="type=='update'" expand="block" margin (click)="updateAuxilariesAndAddToCart()">Done</ion-button>
</ion-footer>