<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <ion-title *ngIf="product !== undefined">Add Auxilary Items For {{ product.name }}</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="auxilaryItems.length > 0">
    <ion-label margin>Auxilary Items</ion-label>
    <app-auxilary-product-card
      *ngFor="let a of auxilaryItems"
      [auxilaryItem]="a.auxilaryItem"
    ></app-auxilary-product-card>
  </ion-list>
</ion-content>
