.restaurantCard ion-card {
    height: 40vh;
}
.restaurantCard ion-thumbnail {
    width: 200px;
    height: 175px;
    margin: auto;
    margin-top: 2vw;
}

.profileLoader {
    width: 100px;
    height: 100px;
}

.profileTextLoader {
    width: 130px;
    margin: 10px;
}

.notificaton-iontext {
    width: 100%;
}

.slidecard {
    width: 100%;
    height:100px;
}

.banner {
    width: 100%;
}