<ion-header>
  <ion-toolbar>
    <ion-title>Do You Have Food Allergy</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div class="container">
  <ion-item>
    <ion-label position="floating">Allergy Message</ion-label>
    <ion-textarea
      placeholder="Enter you allergy message here..."
      [(ngModel)]="msg"
    >
    </ion-textarea>
  </ion-item>
</div>
<ion-footer>
  <ion-button expand="block" (click)="dismissData()" margin>
    Submit
  </ion-button>
</ion-footer>
