
<app-loading
*ngIf="orders.length > 0 && productsGot === false"
[type]="'delivery'"></app-loading>

<ion-list can-swipe="true" *ngIf="orders.length > 0 && productsGot === true" class="page-parent">
  <ion-card *ngFor="let orderLine of orders">

    <!--Main Product Start-->
    <ion-item-sliding>
      <ion-item-options side="start">
        <ion-item-option
          color="primary"
          (click)="increaseProductCount(products[orderLine.productId], orderLine)">
          <ion-icon name="add"></ion-icon>
        </ion-item-option>
        <ion-item-option
          color="warning"
          (click)="
            decreaseProductCount(products[orderLine.productId], orderLine)">
          <ion-icon name="remove"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item color="secondary" lines="full" *ngIf="products[orderLine.productId] !== undefined">
        <ion-label text-start class="wrap">{{
          products[orderLine.productId].name
        }}</ion-label>
        <ion-label text-center>{{ "x" + orderLine.quantity }}</ion-label>
        <ion-label text-end
          >&#8364;{{
            (orderLine.total | number: "1.1-2") + "   "
          }}</ion-label
        >
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option
          color="danger"
          (click)="removeOrder(orderLine, products[orderLine.productId])">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <!--Main Product End-->

    <!--Auxilary Product Start-->
    <ion-list
    *ngIf="auxilaryItems[orderLine.productId].length !== 0">
      <ion-list-header>
        <ion-label>Extras</ion-label>
        <ion-icon name="add" class="addAuxilaryButton" (click)="showUpdateAuxilaryPopover(orderLine)"></ion-icon>
      </ion-list-header>
    </ion-list>
    <ion-list
      *ngIf="orderLine.requiedAuxilaries !== undefined && orderLine.requiedAuxilaries.length > 0">
        <ion-item-sliding  *ngFor="let aux of orderLine.requiedAuxilaries">
          <ion-item-options side="start">
            <ion-item-option
            color="primary"
            (click)="increaseAuxilaryProductCount( auxilaryProducts[aux.productId], orderLine)">
            <ion-icon name="add"></ion-icon>
          </ion-item-option>
          <ion-item-option
            color="warning"
            (click)="
              decreaseAuxilaryProductCount( auxilaryProducts[aux.productId], orderLine)">
            <ion-icon name="remove"></ion-icon>
          </ion-item-option>
          </ion-item-options>
          <ion-item *ngIf="auxilaryProducts[aux.productId] !== undefined">
            <ion-label text-start class="wrap">{{
              auxilaryProducts[aux.productId].name
            }}</ion-label>
            <ion-label text-center>{{ "x" + aux.quantity }}</ion-label>
            <ion-label text-end
              >&#8364;{{ (aux.total | number: "1.1-2") + "   " }}</ion-label
            >
          </ion-item>
          <ion-item-options>
            <ion-item-option
            color="danger"
            (click)="removeAuxilaryOrder(auxilaryProducts[aux.productId],orderLine)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <!--Auxilary Product End-->


  </ion-card>

  <ion-card>
    <ion-item color="medium"
    lines="full"
    *ngIf="storeSetting !== undefined && orders.length > 0 && currentDeliveryMode !== 'collection'">
    <ion-label text-start>Delivery charge</ion-label>
    <ion-label text-center> </ion-label>
    <ion-label text-end>{{ storeSetting.deliveryCharge }}</ion-label>
  </ion-item>
  <ion-item lines="full" *ngIf="orders.length > 0">
    <ion-avatar slot="start">
      <ion-img src="/assets/svg/discount.svg"></ion-img>
    </ion-avatar>
    <ion-text word-wrap text-left no-margin>
      <p>
        <strong>20% discount on your every 10th order</strong>
      </p>
    </ion-text>
  </ion-item>
  <ion-item *ngIf="storeSetting !== undefined" lines="full">

    <ion-label text-start>
      <h3> <strong>Subtotal</strong></h3>
    </ion-label>
    <ion-label text-end>
      <h3 *ngIf="currentDeliveryMode === 'delivery'">
        <strong>
          {{ totalPrice + storeSetting.deliveryCharge }}
        </strong>
      </h3>
      <h3 *ngIf="currentDeliveryMode === 'collection'">
        <strong>
          {{ totalPrice }}
        </strong>
      </h3>
    </ion-label>
  </ion-item>

  </ion-card>
</ion-list>
