/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "./theme/animate.min.css";

.pointer {
  cursor: pointer;
}

.text-overflow-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 125px;
}

.hidden {
  display: none;
}

.vertical-align-center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  position: relative;
  font-family: monospace;
}

.half-width {
  width: 50%;
}

.full-width {
  width: 100%;
}
.full-width-vw {
  width: 100vw;
}

ion-modal.modal-popover {
  &.bottom {
    align-items: flex-end;
  }

  .modal-wrapper {
    position: absolute;
    bottom: 36vh;
    height: 29vh;
    width: 90vw;
  }

  .ion-page {
    position: relative;
    display: block;
    contain: content;
    .inner-content {
      max-height: 40vh;
      overflow: auto;
      padding: 10px;
    }
  }
}

// ion-popover {
//   .popover-wrapper {
//     .popover-content {
//       width: 80vw;
//       max-width: 500px;
//     }
//   }
// }

.ios ion-segment {
  border-radius: 0;
  height: 50px;
  border-top: 1px solid grey;
}

.ios ion-segment-button {
  border-radius: 0;
}

.ios .footer-tabs {
  border-top: 1px solid grey;
}

.ios .footer-tabs ion-segment-button,
.ios .slider-tabs ion-segment-button {
  border: none;
}

.ios .slider-tabs {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.split-pane-ios.split-pane-visible > .split-pane-side,
.split-pane-md.split-pane-visible > .split-pane-side {
  max-width: 350px;
  min-width: 350px;
}
.height-65 {
  height: 65%;
  overflow: hidden;
}

.desktop-only {
  display:none !important;
}

.pointer {
  cursor: pointer;
}

ion-popover{
  ion-backdrop{
  opacity: 0.5 !important;
  }
  .popover-wrapper{
  .popover-content{
  width:80vw;
  max-width:500px;
  }
  }
  }

@media (min-width: 1300px) and (max-width: 2280px) {
  //CSS


ion-modal.full-height {
  &.bottom {
    align-items: flex-end;
  }

  .modal-wrapper {
    height: 98vh;
    width: 40vw;
  }

  .ion-page {
    .inner-content {
      max-height: 40vh;
      overflow: auto;
      padding: 10px;
    }
  }
}

  app-footer {
    display: none;
  }

  .mobile-only {
    display: none !important;
  }

  .desktop-only {
    display: block !important;
  }

  .margin-top-desktop {
    margin-top: 63px;
  }

  .padding-left-desktop {
    padding-left: 10px;
  }

  .header-search{
    width: 25vw !important;
    position: fixed;
    right: 0;
  }

  .header-content {
    right: 5px;
    border: 1px solid lightgray;
    --background: rgba(0,0,0,0.02);
  }

  .desktop-full-width {
    width: 100% !important;
  }

  .modal-wrapper.sc-ion-modal-md {
    height: 95vh;
  }

}
