/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
 
/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "./theme/animate.min.css";

.pointer {
    cursor: pointer;
}

.hidden {
    display: none;
}

.vertical-align-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    position: relative;
    font-family: monospace;
}

.half-width {
    width: 50%;
}

.full-width {
  width: 100%;
}
.full-width-vw {
  width: 100vw;
}

ion-modal.modal-popover {

    &.bottom {
    align-items: flex-end;
    }
    
    
    
        .modal-wrapper {
            position: absolute;
            bottom: 36vh;
            height: 29vh;
            width: 90vw;
        }
    
    
    .ion-page {
        position: relative;
        display: block;
        contain: content;
        .inner-content {
        max-height: 40vh;
        overflow: auto;
        padding: 10px;
        }
    }
}

ion-popover{

    .popover-wrapper{
        .popover-content{
        width:80vw;
        max-width:500px;
        }
    }
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    //CSS
    app-footer {
      display: none;
    }
}
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    //CSS
    app-footer {
      display: none;
    }
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    //CSS
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    //CSS
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    //CSS
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    //CSS
    
  }


  .split-pane-ios.split-pane-visible>.split-pane-side,
  .split-pane-md.split-pane-visible>.split-pane-side{
    max-width: 325px;
    min-width: 325px;
  }