<!--Address List Template Start-->
<ng-template #addressList>
  <ion-list *ngIf="showLoading" class="ion-text-center">
    <ion-spinner name="crescent"></ion-spinner>
  </ion-list>
  <ion-list
    *ngIf="addresses !== undefined || addresses.length !== 0"
  >
    <ion-grid class="ion-no-padding">
      <ion-row class="rowLine"  *ngFor="let address of addresses">
        <ion-col size="10" class="ion-no-padding">
            <ion-item
            line="none"
            value="{{ address.id }}"
            (click)="dismissData(address)"
          >
            <ion-radio
              *ngIf="mode === 'modal'"
              [checked]="selectedAddress.id === address.id"
            ></ion-radio>
            <ion-label   class="custom-padding">
              <p *ngIf="address.addressType">({{address.addressType | titlecase}})</p>
              <h1>{{ address.name | titlecase }}</h1>
              <h2>{{ address.houseNoOrBuildingName }}</h2>
              <h3>{{selectedAddress.city}}</h3>
              <h3>{{ address.landmark }}</h3>
              <h4>{{ address.pincode }}</h4>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="2" class="center ion-no-padding">
            <ion-icon
              class="modificationIcon icon-big"
              name="create"
              (click)="editAddress(address)"
            ></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <ion-list
    *ngIf="(addresses === undefined || addresses.length === 0) && !showLoading"
  >
    <ion-text class="ion-text-center ion-padding">
      <p>No Saved Addresses</p>
    </ion-text>
  </ion-list>
</ng-template>
<!--Address List Template End-->

<ion-header *ngIf="mode === 'modal'">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-title>Select Address</ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="mode === 'modal'">
  <ng-container *ngTemplateOutlet="addressList"></ng-container>
</ion-content>
<ion-footer *ngIf="mode === 'modal'">
  <ion-button
  *ngIf="mode === 'modal'"
  expand="block"
  class="ion-margin"
  (click)="addAddressModal()"
  color="primary"
>
  Add Address
  <ion-icon name="add"></ion-icon>
</ion-button>
</ion-footer>

<div *ngIf="mode === 'component'">
  <ng-container *ngTemplateOutlet="addressList"></ng-container>
</div>
