<ion-header *ngIf="mode==='modal'">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-title>Select Address</ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content *ngIf="mode==='modal'">
  <ion-list *ngIf="addresses !== undefined">
    <ion-item line="full" *ngFor="let address of addresses" value="{{address.id}}" (click)="dismissData(address)">
      <ion-label>
        <h2>{{address.name}}</h2>
        <h2>{{address.houseNoOrBuildingName}}</h2>
        <h2>{{address.landmark}}</h2>
        <h2>{{address.pincode}}</h2>
      </ion-label>
      <ion-icon class="modificationIcon" name="create"></ion-icon>
      <ion-icon class="modificationIcon" name="trash" (click)="deleteAddress(address.id)"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-button expand="block" class="ion-margin" (click)="addAddressModal()" color="primary">
    Add Address
    <ion-icon name="add"></ion-icon>
  </ion-button>
</ion-content>

<div *ngIf="mode==='component'">
  <ion-list *ngIf="addresses !== undefined">
    <ion-item line="full" *ngFor="let address of addresses" value="{{address.id}}" (click)="dismissData(address)">
      <ion-label>
        <h2>{{address.name}}</h2>
        <h2>{{address.houseNoOrBuildingName}}</h2>
        <h2>{{address.landmark}}</h2>
        <h2>{{address.pincode}}</h2>
      </ion-label>
      <ion-icon class="modificationIcon" name="create"></ion-icon>
      <ion-icon class="modificationIcon" name="trash" (click)="deleteAddress(address.id)"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-button expand="block" class="ion-margin" (click)="addAddressModal()" color="primary">
    Add Address
    <ion-icon name="add"></ion-icon>
  </ion-button>
</div>