<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-card>
      <ion-card-content class="ion-text-center">
        <ion-label class="fontBig">&euro;{{ grandTotal }}</ion-label>
      </ion-card-content>
    </ion-card>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="priceCol" [hidden]="!showLoading">
      <ion-spinner color="primary" name="crescent"></ion-spinner>
    </ion-col>
    <ion-col size="12" class="ion-padding mg-50" [hidden]="showLoading">
      <div id="dropin-container"></div>
    </ion-col>
    <ion-col size="12" class="ion-padding posFixed">
      <ion-button
        expand="block"
        *ngIf="instanceWeb && !hidePurchase"
        (click)="payWeb()"
      >
        Pay
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
