.priceCol {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgBlue {
  background: #3a7df9;
}

.fontBig {
  font-size: 80px;
}

ion-card {
  width: 100%;
}

.posFixed {
  position: fixed;
  bottom: 0px;
}

.mg-50 {
  margin-bottom: 50px;
}

