<ion-header *ngIf="!showAddressBack">
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button></ion-back-button>
      <ion-title>Checkout</ion-title>

    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col style="padding: 25px;" size="12" *ngIf="selectedAddress !== undefined">
          <ion-label>
              <h1>{{selectedAddress.name}}</h1>
              <h2>{{selectedAddress.houseNoOrBuildingName}}</h2>
              <h2>{{selectedAddress.landmark}}</h2>
              <h2>{{selectedAddress.roadNameAreaOrStreet}}</h2>
              <h2>{{selectedAddress.postCode}}</h2>
            </ion-label>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block" (click)="showAddresses()" class="ion-margin">Change Or Add Address</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-left size="12">
        <ion-text color="medium">
          <p>
            Leave a note for the restaurant with anything they need to know
            (e.g. the doorbell doesn't work). Do not include any details about
            allergy.
          </p>
        </ion-text>
        <ion-item>
          <ion-label position="floating">Note</ion-label>
          <ion-textarea [(ngModel)]="note" class="textArea"
            placeholder="E.g. The doorbell doesn't work.Do not include any details about allergy" rows="5">
          </ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer>
  <ion-button (click)="checkOut()" *ngIf="deliveryType==='delivery'" expand="full" margin
    [disabled]="selectedAddress === undefined">Checkout</ion-button>
  <ion-button (click)="checkOut()" *ngIf="deliveryType==='collection'" expand="full" margin>Checkout</ion-button>
</ion-footer>