.mg-left {
    margin-left: 10px;
}

ion-avatar {
    width: 25vw;
    height: 25vw;
    max-width: 1
}


.font-20 {
    font-size: 20px;
  }
  
  .col-grey {
    color: grey;
  }
  

@media only screen and (min-width: 640px) {
    ion-avatar {
        width: 100px;
        height: 100px;
        max-width: 1
    }
  }