<ion-card>
  <ion-card-content>
    <ion-item lines="none">
      <ion-avatar>
        <ion-img
          *ngIf="customer.photo === null"
          src="assets/images/user.png"
          class="profileImage"
        ></ion-img>
        <ion-img
          class="profileImage"
          *ngIf="customer.photo !== null"
          [src]="
            'data:' + customer.photoContentType + ';base64,' + customer.photo
          "
        ></ion-img>
      </ion-avatar>
      <ion-text class="mg-left" *ngIf="customer !== null && keyCloakUser !== null">
        <h2 class="font-20">{{ customer.name | titlecase }}</h2>
        <p class="col-grey">{{ keyCloakUser.email }}</p>
        <p class="col-grey" *ngIf="contact !== undefined">{{contact.mobileNumber}}</p>
      </ion-text>
    </ion-item>
  </ion-card-content>
  <ion-card-footer>
    <ion-item color="primary">
      <ion-buttons slot="end">
        <ion-button (click)="presentEditProfileComponent()">
          <ion-icon name="create"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-card-footer>
</ion-card>
